# Dependencies
node_modules

# Build output
dist
dist-ssr

# Test coverage
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local / editor
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.sw?
*~

# Vite cache
.vite
